<div class="cd-timeline__block">
  <div class="cd-timeline__img cd-timeline__img--picture" style="background-color: {{event.backgroundColor}}">
  </div>

  <div class="cd-timeline__content text-component">
    <h2>{{event.title}}</h2>
    <p class="color-contrast-medium">{{event.content}}</p>

    <app-edit-event (handleDelete)="childEvent(event.id)" [eventId]="event.id"></app-edit-event>

    <div class="flex justify-between items-center">
      <span class="cd-timeline__date">{{event.startDate | date:'longDate'}}</span>
    </div>
  </div>
</div>
